 .image-effect {
     overflow: hidden;
 }
 
 .image-effect img {
     width: 100%;
     -webkit-transition: all 2s cubic-bezier(0.23, 1, 0.32, 1);
     -moz-transition: all 2s cubic-bezier(0.23, 1, 0.32, 1);
     transition: all 2s cubic-bezier(0.23, 1, 0.32, 1);
 }
 
 .image-effect:hover img {
     -webkit-transform: scale(1.3);
     -ms-transform: scale(1.3);
     transform: scale(1.3);
 }