.page-header {
    height: 25px;
    background-color: #0f4199;
    font-size: 17px;
    color: white;
    margin-top: 0px;
}

.text-right a:hover {
    color: #e84747;
}

@media screen and (max-width: 720px) {
    .page-header {
        width: 100%;
        height: auto;
        font: size 2px;
        ;
    }
    #mainnav ul li a:hover {
        color: #237cef;
    }
}

.logo {
    background-color: white;
    height: 126px;
    width: 100%;
    position: absolute;
    margin-top: -21px;
}

@media screen and (max-width: 768px) {
    .picture {
        display: none;
    }
    .polo {
        margin-left: 10px;
        width: 580px;
        height: 150px;
    }
    .logo {
        width: 100%;
        height: 152px;
    }
    .lienhe {
        display: none;
    }
    #carousel-id {
        display: none;
    }
    #mainnav {
        padding: 0px;
        margin: 5px;
        position: absolute;
        margin-left: 116px;
    }
    #mainnav ul li a:hover {
        color: #237cef;
    }
}

@media screen and (max-width: 320px) {
    .polo {
        width: 150px;
        margin-left: 0px;
    }
    .lienhe {
        display: none;
    }
    #carousel-id {
        display: none;
    }
    #mainnav ul li a:hover {
        color: #237cef;
    }
    .topnav {
        width: 111%;
    }
}

@media screen and (max-width: 640px) {
    .polo {
        width: 300px;
        margin-left: 10px;
    }
    #mainnav ul li a:hover {
        color: #237cef;
    }
}

@media screen and (max-width: 1024px) {
    .polo {
        width: 300px;
        margin-left: 0px;
    }
    .picture {
        width: 300px;
        margin-right: 0px;
    }
    #mainnav ul li a:hover {
        color: #237cef;
    }
}

.container {
    /*background-color: #cccccc;*/
    width: 100%;
    height: 450px;
    position: absolute;
    margin-top: 105px;
}

.menu {
    width: 102.3%;
    height: 45px;
    font-weight: bold;
    margin-left: -15px;
    position: relative;
    margin-right: -50px;
}

#danhmuc {
    background-color: #0f4199;
    width: 250px;
    height: 38px;
    text-align: center;
    font-size: 16px;
    font-family: Time New Roman;
    font-weight: bold;
    color: white;
    position: relative;
    padding-top: 5px;
    margin-top: 8px;
    margin-left: 18px;
}

.lienhe {
    background-color: #0f4199;
    width: 295px;
    height: 35px;
    text-align: center;
    font-size: 18px;
    font-family: Time New Roman;
    font-weight: bold;
    color: white;
    position: relative;
    padding-top: 1px;
    padding-top: 5px;
    margin-top: 8px;
    margin-left: 1px;
}

.ll:hover {
    width: 305px;
}

h4 {
    color: red;
    font-family: sans-serif;
    font-size: 20px;
    text-align: center;
}

a {
    text-align: center;
    font-size: 15px;
}

b:hover {
    font-size: 20px;
}

b {
    font-weight: bold;
    color: #2389ce;
}

.img-responsive {
    margin-top: 20px;
    margin-left: 15px;
}

.img-responsive:hover {
    width: 1202px;
}

#slider {
    position: relative;
    margin-top: 4px;
    margin-left: -121px;
}

.topnav {
    background-color: #0f4199;
    overflow: hidden;
}

.topnav a:hover {
    background-color: #ddd;
    color: #b73131;
}

.topnav .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    #mainnav ul li a:hover {
        color: #237cef;
    }
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14px;
}

.topnav .icon {
    display: none;
}

.form-control {
    padding-top: 6px;
    padding-right: 32px;
    padding-bottom: 6px;
    padding-left: 32px;
}

* {
    margin: 0;
    padding: 0;
    transition: all 0.3s;
}

.active {
    background: #3B5998;
}

#mainnav {
    padding: 0px;
    margin: 5px;
    position: absolute;
    margin-left: 16px;
}

#mainnav ul {
    background: #c4dbed;
    color: black;
    list-style: none;
    width: 255px;
    font-family: Time New Roman;
}

#mainnav ul li {
    position: relative;
    width: 255px;
    height: 55px;
    line-height: 40px;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
}

#mainnav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 0 16px;
    float: left;
    display: block;
}

#mainnav .sub-menu {
    background-color: #c4dbed;
    z-index: 10;
    border-right: 1px solid #333;
    position: absolute;
    left: 256px;
    float: left;
    top: -1px;
    width: 255px;
    display: none;
    font-size: 90%;
    border-radius: 0px 10px 10px 0px;
}

#mainnav ul li a:hover {
    color: #237cef;
}

#mainnav li:hover .sub-menu {
    display: block;
}

@media screen and (max-width: 992px) {
    #danhmuc {
        background-color: #0f4199;
        width: 250px;
        height: 38px;
        text-align: center;
        font-size: 16px;
        font-family: Time New Roman;
        font-weight: bold;
        color: white;
        position: relative;
        padding-top: 5px;
        margin-top: 8px;
        margin-left: 0px;
    }
    #mainnav ul li {
        position: relative;
        margin-left: -1px;
        width: 300px;
        height: 40px;
        line-height: 40px;
        border-top: 1px solid #333;
        border-bottom: 1px solid #333;
    }
    #mainnav ul {
        background: #c4dbed;
        color: black;
        list-style: none;
        width: 300px;
        margin-left: -7px;
        font-family: Time New Roman;
    }
    #mainnav .sub-menu {
        background-color: #c4dbed;
        z-index: 10;
        border-right: 1px solid #333;
        position: absolute;
        left: 220px;
        float: left;
        top: -1px;
        width: 300px;
        display: none;
        font-size: 90%;
        border-radius: 0px 10px 10px 0px;
    }
    #mainnav ul li a:hover {
        color: #237cef;
    }
    .container {
        /*background-color: #cccccc;*/
        width: 100%;
        height: 1260px;
        position: absolute;
        margin-top: 105px;
    }
    .lienhe {
        /*background-color: #0f4199;*/
        width: 295px;
        height: 35px;
        text-align: center;
        font-size: 18px;
        font-family: Time New Roman;
        font-weight: bold;
        color: white;
        position: relative;
        padding-top: 1px;
        padding-top: 5px;
        margin-top: 8px;
        margin-left: 2px;
    }
    .img-responsive {
        margin-top: 340px;
        margin-left: 15px;
    }
    .img-responsive:hover {
        height: 80px;
    }
    #bong {
        color: #007fff;
        font-size: 22px;
        position: absolute;
        margin-top: 60px;
        margin-right: 25px;
    }
}

#sp {
    color: red;
    font-weight: bold;
    font-size: 15px;
    font-family: sans-serif;
    position: absolute;
    margin-top: 30px;
    margin-right: 20px;
}

#sp:hover {
    color: red;
    font-size: 16px;
}

.product {
    /*background: #cccccc;*/
    width: 97%;
    height: 370px;
    text-align: center;
    font-weight: bold;
    border-top: 3px solid #c10f0f;
    border-bottom: 3px solid #c10f0f;
    position: absolute;
    margin-top: 84px;
}

.thumbnail:hover {
    color: red;
}

.zoom:hover {
    width: 205px;
}

#bong {
    color: #007fff;
    font-size: 22px;
    font-weight: bold;
    position: absolute;
    margin-top: 60px;
    margin-right: 25px;
}

.volley {
    width: 97%;
    height: 740px;
    text-align: center;
    font-weight: bold;
    border-top: 3px solid #c10f0f;
    border-bottom: 3px solid #c10f0f;
    position: absolute;
    margin-top: 520px;
}

#chuyen {
    color: #007fff;
    font-size: 22px;
    font-weight: bold;
    position: absolute;
    margin-top: 495px;
    margin-right: 25px;
}

.volley2 {
    width: 97%;
    height: 80px;
    position: absolute;
    margin-top: 370px;
}

.modal-footer {
    /*background-color: #418ad3;*/
    border-top: 3px solid #3f85cc;
    height: 450px;
    width: 105.4%;
    text-align: left;
    position: absolute;
    margin-left: -45px;
}

.fot {
    margin-left: 0px;
    font-family: sans-serif;
}

.foot {
    /*background-color:#418ad3;*/
    width: 108.3%;
    height: 200px;
    position: absolute;
    margin-top: 1001px;
    margin-left: -60px;
}

.footer {
    background-color: black;
    width: 105.6%;
    height: 35px;
    color: white;
    font-weight: bold;
    position: absolute;
    margin-left: -30px;
    margin-top: 1200px;
}

.text {
    margin-top: 6px;
}

.left {
    margin-left: 50px;
}

@media screen and (max-width: 1200px) {
    .foot {
        margin-top: 1100px;
    }
    .map-responsive {
        left: 0;
        top: 0;
        height: 400px;
        width: 100%;
        position: absolute;
    }
    .footer {
        background-color: black;
        width: 105.1%;
        height: 35px;
        color: white;
        font-weight: bold;
        position: absolute;
        margin-left: -30px;
        margin-top: 1255px;
    }
    #mainnav ul li a:hover {
        color: #237cef;
    }
}

@media screen and (max-width: 640px) {
    .foot {
        margin-top: 1261px;
    }
    .map-responsive iframe {
        left: 0;
        top: 0;
        height: 400px;
        width: 100%;
        position: absolute;
    }
    .footer {
        margin-top: 1461px;
        width: 108%;
        height: 53px;
    }
    .lienhe {
        display: none;
    }
    #carousel-id {
        display: none;
    }
    #mainnav ul li a:hover {
        color: #237cef;
    }
}

.map-responsive {
    overflow: hidden;
    padding-bottom: 16%;
    position: relative;
    height: 0;
}

.map-responsive iframe {
    left: 0;
    top: 0;
    height: 199px;
    width: 100%;
    position: absolute;
}

@media screen and (max-width: 1024px) {
    .map-responsive {
        overflow: hidden;
        padding-bottom: 20%;
        position: relative;
        height: 0;
    }
    #mainnav ul li a:hover {
        color: #237cef;
    }
}


/*Sửa ngày hôm nay*/

@media screen and (max-width: 360px) {
    #danhmuc {
        background-color: #0f4199;
        width: 315px;
        height: 38px;
        text-align: center;
        font-size: 16px;
        font-family: Time New Roman;
        font-weight: bold;
        color: white;
        position: relative;
        padding-top: 5px;
        margin-top: 8px;
        margin-left: 0px;
    }
    #mainnav ul li a:hover {
        color: #237cef;
    }
    .map-responsive {
        width: 109%;
        height: 150px;
        position: absolute;
        margin-left: 20px;
    }
    .card {
        display: none;
    }
}

@media screen and (max-width: 411px) {
    #danhmuc {
        background-color: #0f4199;
        width: 315px;
        height: 38px;
        text-align: center;
        font-size: 16px;
        font-family: Time New Roman;
        font-weight: bold;
        color: white;
        position: relative;
        padding-top: 5px;
        margin-top: 8px;
        margin-left: 0px;
    }
    .lienhe {
        display: none;
    }
    #carousel-id {
        display: none;
    }
    #mainnav ul li a:hover {
        color: #237cef;
    }
    .map-responsive {
        width: 109%;
        height: 150px;
        position: absolute;
        margin-left: 20px;
    }
    .footer {
        position: absolute;
        margin-top: 1412px;
    }
    .topnav {
        width: 105%;
    }
}